#sidebar {
    -fx-background-color: -color-bg-inset;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 1px 0 0;
}
#sidebar #header #appname, #sidebar #footer {
    -fx-text-fill: -color-fg-muted;
}
#navbar .nav-tree-cell {
	 -fx-padding: 0;
	 -fx-indent: 0;
	 -color-cell-bg: -color-bg-inset;
	 -color-cell-bg-selected: -color-accent-subtle;
	 -color-cell-bg-selected-focused: -color-accent-subtle;
	 -color-cell-border: -color-bg-inset;
}
 #navbar .nav-tree-cell > .tree-disclosure-node, #navbar .nav-tree-cell > .tree-disclosure-node > .arrow {
	 -fx-min-width: 0;
	 -fx-pref-width: 0;
	 -fx-max-width: 0;
	 -fx-min-height: 0;
	 -fx-pref-height: 0;
	 -fx-max-height: 0;
	 visibility: hidden;
}
 #navbar .nav-tree-cell > .container {
	 -fx-min-height: 2.1em;
	 -fx-pref-height: 2.1em;
	 -fx-max-height: 2.1em;
	 -fx-padding: 0 6px 0 1.2em;
	 -fx-border-color: -color-border-muted;
	 -fx-border-width: 0 0 0 1;
}
#navbar .nav-tree-cell:group > .container {
    -fx-border-width: 0 0 0 0;
}
 #navbar .nav-tree-cell:selected > .container > .title {
	 -fx-font-weight: bold;
	 -fx-text-fill: -color-accent-fg;
}
 #navbar .nav-tree-cell:hover:filled {
	 -color-cell-bg: -color-accent-subtle;
	 -color-cell-bg-selected: -color-accent-subtle;
	 -color-cell-bg-selected-focused: -color-accent-subtle;
}
 #navbar .nav-tree-cell:group > .container {
	 -fx-min-height: 2.5em;
	 -fx-pref-height: 2.5em;
	 -fx-max-height: 2.5em;
	 -fx-padding: 0 0 0 8px;
}
 #navbar .nav-tree-cell:group > .container .ikonli-font-icon {
	 -fx-fill: -color-fg-muted;
	 -fx-icon-color: -color-fg-muted;
}
 #navbar .nav-tree-cell:group > .container > .arrow {
	 -fx-icon-code: mdal-add;
}
 #navbar .nav-tree-cell:group:expanded > .container > .arrow {
	 -fx-icon-code: mdmz-remove;
}
 #navbar .nav-tree-cell .tag {
	 -fx-padding: 2px 4px 2px 4px;
	 -fx-background-radius: 4px;
	 -fx-font-size: 0.75em;
	 -fx-background-color: -color-success-subtle;
}
#page #tabela {
    -color-cell-bg-selected: -color-accent-emphasis;
    -color-cell-fg-selected: -color-fg-emphasis;
    -color-cell-bg-selected-focused: -color-accent-emphasis;
    -color-cell-fg-selected-focused: -color-fg-emphasis;
}